<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
  <!--<add name="OnBoadTaskEntities" connectionString="metadata=res://*/EntityModel.DataEntityModel.csdl|res://*/EntityModel.DataEntityModel.ssdl|res://*/EntityModel.DataEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=199.79.62.22;initial catalog=indianlotus;persist security info=False;user id=indianlo;password=Z9u4#Ixq8[oVX8;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <add name="OnBoadTaskEntities" 
         connectionString="metadata=res://*/EntityModel.DataEntityModel.csdl|res://*/EntityModel.DataEntityModel.ssdl|res://*/EntityModel.DataEntityModel.msl;provider=System.Data.SqlClient;
         provider connection string=&quot;data source=DESKTOP-DG3NJOI;
         initial catalog=KarmickSolutions;persist security info=False;user id=sa;password=pass@123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />


  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>