
@{
    ViewBag.Title = "UserManual";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .frameClass {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100% !important;
        height: 100% !important;
        border: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
</style>
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">

            <div class="card">
                <iframe class="frameClass" src="@ViewBag.docpath "></iframe>
                </div>
            </div>
        </div>
    </div>

