@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "About Us";
}

<div class="about">
    <div class="container">
        <div class="w3ls-title">
            <h3 class="agileits-title">About us</h3>
        </div>
        <p class="about-w3text">
            Indian Lotus team offering latest and innovative dishes On Our tasty menu Indian Lotus team offering latest and innovative dishes On Our tasty menu Indian Lotus team offering latest and innovative dishes On Our tasty menu
            Indian Lotus team offering latest and innovative dishes On Our tasty menu  Indian Lotus team offering latest and innovative dishes On Our tasty menu .
            Indian Lotus team offering latest and innovative dishes On Our tasty menu Indian Lotus team offering latest and innovative dishes On Our tasty menu .
            Indian Lotus team offering latest and innovative dishes On Our tasty menu .
        </p>
        <div class="services-row-agileinfo">
            <div class="col-sm-4 col-xs-4 services-w3grid">
                <span class="glyphicon glyphicon-heart hi-icon" aria-hidden="true"></span>
                <h5>Dal Makhani</h5>
                <p>Chilli Chicken and More delicious dishes </p>
            </div>
            <div class="col-sm-4 col-xs-4 services-w3grid">
                <span class="glyphicon glyphicon-list-alt hi-icon" aria-hidden="true"></span>
                <h5>Dal Tadka</h5>
                <p>Chilli Chicken and More delicious dishes </p>
            </div>
            <div class="col-sm-4 col-xs-4 services-w3grid">
                <span class="glyphicon glyphicon-leaf hi-icon" aria-hidden="true"></span>
                <h5>Korma</h5>
                <p>Chilli Chicken and More delicious dishes </p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
