
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<div class="about gallery">
    <div class="container">
        <div class="w3ls-title">
            <h3 class="agileits-title">Gallery</h3>
        </div>
        <div class="w3ls_gallery_grids">
            <div class="col-xs-4 agileits_w3layouts_gallery_grid">
                <div class="agileits_w3layouts_gallery_grid1 w3layouts_gallery_grid1 hover14 column">
                    <div class="w3_agile_gallery_effect">
                        <a href="../../Assets/images/Gallery/g.jpg" class="sb" title="Need To Add Content Provide By Client...">
                            <figure>
                                <img src="../../Assets/images/Gallery/g.jpg" alt=" " class="img-responsive" />
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="agileits_w3layouts_gallery_grid1 hover14 column">
                    <div class="w3_agile_gallery_effect">
                        <a href="../../Assets/images/Gallery/g1.jpg" class="sb" title="Need To Add Content Provide By Client...">
                            <figure>
                                <img src="../../Assets/images/Gallery/g1.jpg" alt=" " class="img-responsive" />
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="agileits_w3layouts_gallery_grid1 hover14 column">
                    <div class="w3_agile_gallery_effect">
                        <a href="../../Assets/images/Gallery/g2.jpg" class="sb" title="Need To Add Content Provide By Client...">
                            <figure>
                                <img src="../../Assets/images/Gallery/g2.jpg" alt=" " class="img-responsive" />
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="agileits_w3layouts_gallery_grid1 hover14 column">
                    <div class="w3_agile_gallery_effect">
                        <a href="../../Assets/images/Gallery/g5.jpg" class="sb" title="Need To Add Content Provide By Client...">
                            <figure>
                                <img src="../../Assets/images/Gallery/g9.jpg" alt=" " class="img-responsive" />
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 agileits_w3layouts_gallery_grid">
                <div class="agileits_w3layouts_gallery_grid1 hover14 column">
                    <div class="w3_agile_gallery_effect">
                        <a href="../../Assets/images/Gallery/g6.jpg" class="sb" title="Need To Add Content Provide By Client...">
                            <figure>
                                <img src="../../Assets/images/Gallery/g6.jpg" alt=" " class="img-responsive" />
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="agileits_w3layouts_gallery_grid1 hover14 column">
                    <div class="w3_agile_gallery_effect">
                        <a href="../../Assets/images/Gallery/g7.jpg" class="sb" title="Need To Add Content Provide By Client...">
                            <figure>
                                <img src="../../Assets/images/Gallery/g7.jpg" alt=" " class="img-responsive" />
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="agileits_w3layouts_gallery_grid1 hover14 column">
                    <div class="w3_agile_gallery_effect">
                        <a href="../../Assets/images/Gallery/g7.jpg" class="sb" title="Need To Add Content Provide By Client...">
                            <figure>
                                <img src="../../Assets/images/Gallery/g13.jpg" alt=" " class="img-responsive" />
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 agileits_w3layouts_gallery_grid">
                <div class="agileits_w3layouts_gallery_grid1 w3layouts_gallery_grid1 hover14 column">
                    <div class="w3_agile_gallery_effect">
                        <a href="../../Assets/images/Gallery/g3.jpg" class="sb" title="Need To Add Content Provide By Client...">
                            <figure>
                                <img src="../../Assets/images/Gallery/g3.jpg" alt=" " class="img-responsive" />
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="agileits_w3layouts_gallery_grid1 hover14 column">
                    <div class="w3_agile_gallery_effect">
                        <a href="../../Assets/images/Gallery/g4.jpg" class="sb" title="Need To Add Content Provide By Client...">
                            <figure>
                                <img src="../../Assets/images/Gallery/g4.jpg" alt=" " class="img-responsive" />
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="agileits_w3layouts_gallery_grid1 hover14 column">
                    <div class="w3_agile_gallery_effect">
                        <a href="../../Assets/images/Gallery/g5.jpg" class="sb" title="Need To Add Content Provide By Client...">
                            <figure>
                                <img src="../../Assets/images/Gallery/g5.jpg" alt=" " class="img-responsive" />
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="agileits_w3layouts_gallery_grid1 hover14 column">
                    <div class="w3_agile_gallery_effect">
                        <a href="../../Assets/images/Gallery/g5.jpg" class="sb" title="Need To Add Content Provide By Client...">
                            <figure>
                                <img src="../../Assets/images/Gallery/g10.jpg" alt=" " class="img-responsive" />
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
         
            <div class="clearfix"> </div>
            <script type="text/javascript" src="../../Assets/js/smoothbox.jquery2.js"></script>
        </div>
    </div>
</div>

