
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@*<div class="container">
        <img src="~/Assets/images/Gallery/m1.jpg" />
        transform: rotate(270deg);

    }

        <img src="~/Assets/images/Gallery/m2.jpg" />
        <img src="~/Assets/images/Gallery/m3.jpg" />
        <img src="~/Assets/images/Gallery/m4.jpg" />
    </div>*@

<div class="about gallery">
    <div class="container">
        <div class="w3ls-title">
            <h3 class="agileits-title">Menu</h3>
        </div>
        <div class="w3ls_gallery_grids">
            <img src="../../Assets/images/Gallery/m1.jpg" alt=" " class="img-responsive" />
            <br />
            <img src="../../Assets/images/Gallery/m2.jpg" alt=" " class="img-responsive" />
            <br />
            @*<img src="../../Assets/images/Gallery/m3.jpg" alt=" " class="img-responsive" />
             <br />
              <img src="../../Assets/images/Gallery/m4.jpg" alt=" " class="img-responsive" />
            <br />*@
            <script type="text/javascript" src="../../Assets/js/smoothbox.jquery2.js"></script>
        </div>
        <div class="more" style="text-align: center;">
            <a href="/Home/Item" data-toggle="modal">View More...</a>
        </div>
    </div>
</div>